<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./css/report.css">
  <link rel="stylesheet" href="../../assets/css/font.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <title>Reports Panel - Golem</title>
</head>

<body>
  <div id="app" v-if="active" v-cloak>
    <div class="container">

      <header>
        <i class="fa fa-users" aria-hidden="true"></i>
        <h1>Репорт панель</h1>
        <span>
          <i @click="closepanel()" class="fa fa-times-circle-o" aria-hidden="true"></i>
        </span>
      </header>

      <div class="report">
        <div class="upblock">
          <div class="block">
            <h2>Написать</h2>
            <!-- <div class="selecter"> -->
              <!-- <div class="box"> -->
                <!-- <select  v-model="viewtype"> -->
                  <!-- <option disabled value="">Выберите из:</option> -->
                  <!-- <option>Вопрос</option> -->
                  <!-- <option>Жалоба</option> -->
                  <!-- <option>Баг</option> -->
                <!-- </select> -->
              <!-- </div> -->
            <!-- </div> -->
            <div class="rep1">
              <textarea v-model="text" type="text" placeholder="Напишите здесь"></textarea>
              <span>
                <!-- <input v-model="playerid" class="bgInput" type="number" placeholder="Введите ID игрока" v-if="viewtype == `Жалоба`"> -->
                <button @click="submit(`report`)" class="otp" type="button">Отправить сообщение</button>
              </span>
            </div>
          </div>
        </div>
        <div class="downblock">
          <div class="activeticket" v-if="answer == null ? fixnullanswer : true">
            <h3>Ответ №{{answer.id}}</h3>
            <div class="form">
              <p class="admin">
                Админ: <span>{{answer.admin}}</span>
              </p>
              <p class="answer">
                <b>Вопрос:</b>
                <textarea placeholder="Вопрос" type="text" :value="answer.ques" disabled></textarea>
              </p>
              <p class="question">
                <b>Ответ:</b>
                <textarea placeholder="Ответ" type="text" :value="answer.ans" disabled></textarea>
              </p>
            </div>
          </div>
          <div class="list">
            <span class="header">
              <h3>Ответы</h3>
              <i @click="clearAll()" class="fa fa-trash" aria-hidden="true"></i>
            </span>
            <div class="tickets">
              <div @click="selectanswer(ans)" class="ticket" v-for="(ans, index) in answers">
                <p>
                  <i @click="deleteAnswer(ans)" class="fa fa-minus-square" aria-hidden="true"></i>
                  <b style="color: rgb(88, 129, 219)">#{{ans.id}}
                    <span>{{ans.admin}}</span>
                  </b>
                </p>
                <p>
                  Ваш вопрос: {{ans.ques}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <script src="js/report.js"></script>
</body>

</html>
