/server/client_packages/.listcache
/server/dotnet/runtime
/server/dotnet/resources/GameMode/.vs
/server/dotnet/resources/GameMode/GolemoSDK/bin
/server/dotnet/resources/GameMode/GolemoSDK/obj
/server/plugins
/server/packages
/server/dotnet/resources/release/bin/netcoreapp3.1
/server/dotnet/server_logs.txt
/server/dotnet/server_exceptions.txt
/server/dotnet/resources/GameMode/Golemo/obj
