.input
{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 360px !important;
  min-width: 360px !important;
  height: auto;
  background-color: rgba(41, 41, 41, 0.9);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}
.input .question
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background: rgba(0,0,0, .7);
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  text-align: center;
  margin-bottom: 2em;
}
.input .question p {
  font-size: 1.2em;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 10px;
}
.input .buttons
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input .buttons input
{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  max-width: 300px !important;
  min-width: 300px !important;
  height: 40px;
  padding: 0 0.5em;
  border-radius: 8px;
  background: white;
  -webkit-box-shadow: 0px 0px 81px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 81px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 81px -2px rgba(0,0,0,0.75);
  border: none;
  outline: none;
}
.input .buttons button
{
  width: 200px;
  color: rgba(255,255,255, 1);
  font-size: 1.3em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #000;
  border-radius: 8px;
  box-shadow: 0 0 5px black;
  padding: 15px;
  border: none;
  outline: none;
  transition: color .4s, background-color .4s;
}

.input .buttons button:hover{
  color: rgba(0,0,0);
  background: rgba(255,255,255,0.8);
}
