@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body { 
    margin: 0;
    line-height: 1; 
    font-family: 'Montserrat', sans-serif;
    background-image: url(../images/respawn/main-bg.jpg);
    background-size: cover;
}

.bold {
    font-weight: 700;
}

.flex-item:nth-child(2n) {
    box-sizing: border-box;
    margin: 0 75px;
}

#spawn-select {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-block {
    width: 370px;
    height: 370px;
    position: relative;
    z-index: 2;
}

/* Last Position Spawn Shape */
#last-spawn {
    animation: spin-last 12s linear infinite;
}

#last-spawn .shape {
    width: 100%;
    height: 100%;
    transition: border-radius 1s ease-out;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: morph-last 8s ease-in-out infinite both alternate;
    position: absolute;
    overflow: hidden;
    z-index: 5;
}

#last-spawn .shape .bg-image {
    width: 142%;
    height: 142%;
    position: absolute;
    left: -21%;
    top: -21%;
    background: url(../images/respawn/last-spawn.jpg);
    background-size: 800px;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spin-last 12s linear infinite reverse;

}

@keyframes morph-last {
    0% {border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;} 
    100% {border-radius: 40% 60%;} 
}
  
@keyframes spin-last {
    to {
        transform: rotate(1turn);
    }
}

/* Home Position Spawn Shape */
#home-spawn {
    animation: spin-last 24s linear infinite;
}

#home-spawn .shape {
    width: 100%;
    height: 100%;
    transition: border-radius 1s ease-out;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: morph-home 8s ease-in-out infinite both alternate;
    position: absolute;
    overflow: hidden;
    z-index: 5;
}

#home-spawn .shape .bg-image {
    width: 142%;
    height: 142%;
    position: absolute;
    left: -21%;
    top: -21%;
    background: url(../images/respawn/home-spawn.jpg);
    background-size: 800px;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spin-home 24s linear infinite reverse;

}

@keyframes morph-home {
    0% {border-radius: 30% 70% 70% 30% / 70% 51% 49% 30%;} 
    100% {border-radius: 20% 60%;} 
}
  
@keyframes spin-home {
    to {
        transform: rotate(1turn);
    }
}

/* Org Position Spawn Shape */
#org-spawn {
    animation: spin-last 12s linear infinite;
}

#org-spawn .shape {
    width: 100%;
    height: 100%;
    transition: border-radius 1s ease-out;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: morph-org 8s ease-in-out infinite both alternate;
    position: absolute;
    overflow: hidden;
    z-index: 5;

}

#org-spawn .shape .bg-image {
    width: 142%;
    height: 142%;
    position: absolute;
    left: -21%;
    top: -21%;
    background: url(../images/respawn/org-spawn.jpg);
    background-size: 800px;
    background-position: center right;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spin-org 12s linear infinite reverse;
}

@keyframes morph-org {
    0% {border-radius: 73% 27% 78% 22% / 64% 57% 43% 36% ;} 
    100% {border-radius: 30% 60%;} 
}
  
@keyframes spin-org {
    to {
        transform: rotate(1turn);
    }
}

.shadow {
    -webkit-box-shadow: 0px 0px 28px -2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 28px -2px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 28px -2px rgba(0,0,0,0.1);
}
.title-block {
    background-color: rgba(0, 33, 72, 0.5);
    padding: 20px 0;
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
}

.title-block .title-text > span {
    display: block;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
}

.title-block .title-text > span:first-child {
    font-size: 28px;
    font-family: 'Russo One', sans-serif;
}

.button-block {
    position: absolute;
    bottom: 30%;
    width: 100%;
    text-align: center;
}

.button-block button {
	font-family: 'Montserrat', sans-serif;
    border: 0;
    padding: 10px 55px;
    color: #000;
    border-radius: 5px;
    background: #FFE45F;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 0px 17px 7px rgba(255, 228, 95, 0.5);
    -moz-box-shadow: 0px 0px 17px 7px rgba(255, 228, 95, 0.5);
    box-shadow: 0px 0px 17px 7px rgba(255, 228, 95, 0.5);
}

.button-block button:hover {
    color: #FFF;
    background: rgba(149, 150, 153, 0.6);
    -webkit-box-shadow: 0px 0px 17px 7px rgba(160, 153, 147, 0.5);
    -moz-box-shadow: 0px 0px 17px 7px rgba(160, 153, 147, 0.5);
    box-shadow: 0px 0px 17px 7px rgba(160, 153, 147, 0.5);
}

.button-block button[disabled]:active,
.button-block button[disabled]:hover,
.button-block button[disabled]{
	cursor: not-allowed;
	pointer-events: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #666666;
}

.disabled {
	filter: grayscale(100%);
}
